body{
    background-color:#2B9348;
}

.header{
    text-align: center;
    top:50%;
    color:black;
    font-size:100px;
}

.head{
  text-align:center;
  top:30%;
  color:black;
  font-size:75px;
} 
