<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='voice_model.css') }}"/>
<html>
<head>
    <h1 class="h1"> The red train passes under the blue bridge </h1>
</head>
<body>
    <button class="bttn1" onclick="document.getElementById('user').click();">Take Video</button>
    <form action="{{ url_for('upload_video') }}" method="post" enctype="multipart/form-data">
    <input type="file" id="user" name="video" class="file-input">
    <label for="user" class="button">Choose File</label>
    <input type="submit" value="Upload">
</form>
</div>
</body>
</html>
